# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Кэш Pytest
.pytest_cache/

# Настройки IDE (PyCharm, VS Code)
.idea/
.vscode/

# Файлы системы
.DS_Store
Thumbs.db